/* Code taken from https://github.com/PrettyPrinted/building_user_login_system/blob/master/finish/static/starter-template.css */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}