{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <h2 class="form-signin-heading">Files</h2>
        {% for file in file_list %}
            <li><a href="{{ url_for('show_file', file=file)}}"> {{ file }} </a></li>
        {% endfor %}
</div>

<div class="container">
  <script>
    // https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
    var loadFile = function(event) {
      var preview = document.getElementById('preview');
      preview.src = URL.createObjectURL(event.target.files[0]);
      preview.onload = function() {
        URL.revokeObjectURL(preview.src) // free memory
      }
    };
  </script>

  <form class="form-signin" action="/upload" method="post" enctype="multipart/form-data">
    <h2 class="form-signin-heading">Upload</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.filename) }}
    <input name="photo" type="file" value="Choose file" onchange="loadFile(event)" />
    <img id="preview" />
    <button href="/upload" class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
  </form>

</div>
{% endblock %}
